@{
    ViewBag.Title = "应用案例";
}

<!-- 主体 -->
<div class="contentbox" id="partPage">
    <div class="zy_xqbox zy_xqcontent">
        <div class="left_con">
            <div class="zy_xqtitle">
                <h1>英特尔发精准医疗解决方案，推进24小时精准医疗</h1>
                <p><span>编辑日期：2018-03-20</span><span>作者：利美医疗</span></p>
            </div>
            <div class="zy_xqtxt">
                <div class="zy_xxjs"><span>详细介绍</span></div>
                <div class="txtbox">
                    <div class="txt">
                        <p>
                            特尔在上海发布其在中国精准医疗领域的解决方案建议书，内容涉及创新解决方案、合作案例、参考架构推荐等，并提出“24小时精准医疗” 愿景。
                        </p>
                        <p>
                            据了解，此次发布的“英特尔精准医疗解决方案建议书”可以为精准医疗和生命科学领域搭建计算、存储和网络平台提供方案参考。该建议书围绕计算技术如何助力精准医疗行业发展展开，指出精准医疗实践需要开放、创新、协作、共赢的技术解决方案，并强调了英特尔的核心方案和价值主张，包括构建可扩展的精准医疗数据中心、精准医疗混合云平台、精准医疗分析一体机等。同时，重点针对来自数据管理与分享、安全和隐私、速度与效率、可扩展性等计算挑战，提供了应对方法。
                        </p>
                        <img src="../Content/images/pic02.jpg">
                        <p>
                            此次提出的“24小时精准医疗” (All in One Day)愿景引发业内关注，随着生物数据的爆炸式增长，更多的挑战出现在了计算技术领域，All in One Day愿景（即在2020年，一天之内完成基因数据的收集、分析和解读）目前面临的最大技术障碍来自汇集、存储、管理和分析大量的数据”。
                        </p>
                        <p>
                            英特尔医疗与生命科学集团亚太总经理李亚东对网易智能表示：“为了解决这些挑战，英特尔正在展开广泛的产业合作，以计算技术为支点，通过开放、创新、协作、共赢的技术平台和生态体系来来推动行业的发展”。
                        </p>
                        <p>
                            据悉，2016年6月，英特尔发起了“英特尔精准医疗伙伴计划”，该项目面向所有对精准医疗行业及对计算创新有兴趣的单位团体，旨在促进精准医疗计算领域的方案创新、信息交换和行业交流。截至目前，已吸引五十余家单位参与。另外，英特尔已经同华大基因、阿里云、荣之联、诺禾致源、上海交通大学、上海市儿童医院等精准医疗产业链上下游合作伙伴保持协作，支持其解决方案创新，协力加速精准医疗领域的计算创新和应用。
                        </p>
                    </div>
                </div>
                @*<div class="share">
                        <i></i>
                        <h2>
                            <p>上一篇：<a href="#">梅奥诊所发明新式培养法，可使T细胞识别多种癌细胞</a></p>
                            <p>下一篇：<a href="#">互联网医院热潮</a></p>
                        </h2>
                    </div>*@
            </div>
        </div>
        <div class="right_con">
            <h2>相关资讯<i></i></h2>
            <div class="picMarquee-top">
                <div class="bd">
                    <ul class="picList">
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic03.jpg" />
                                <dl>
                                    <dt>BEERZI德国高级进口轮椅</dt>
                                    <dd>德国制造高级智能轮椅，品质有保证，进口货很牛的！</dd>
                                    <span>2018-03-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic02.jpg" />
                                <dl>
                                    <dt>磁共振成像诊断仪</dt>
                                    <dd>德国制造高级智能轮椅，品质有保证，进口货很牛的！</dd>
                                    <span>2018-03-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic01.jpg" />
                                <dl>
                                    <dt>互联网医院的浪潮</dt>
                                    <dd>德国制造高级智能轮椅，品质有保证，进口货很牛的！</dd>
                                    <span>2018-03-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic03.jpg" />
                                <dl>
                                    <dt>BEERZI德国高级进口轮椅</dt>
                                    <dd>德国制造高级智能轮椅，品质有保证，进口货很牛的！</dd>
                                    <span>2018-03-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic02.jpg" />
                                <dl>
                                    <dt>磁共振成像诊断仪</dt>
                                    <dd>德国制造高级智能轮椅，品质有保证，进口货很牛的！</dd>
                                    <span>2018-03-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic01.jpg" />
                                <dl>
                                    <dt>互联网医院的浪潮</dt>
                                    <dd>德国制造高级智能轮椅，品质有保证，进口货很牛的！</dd>
                                    <span>2018-03-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic03.jpg" />
                                <dl>
                                    <dt>BEERZI德国高级进口轮椅</dt>
                                    <dd>德国制造高级智能轮椅，品质有保证，进口货很牛的！</dd>
                                    <span>2018-03-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic02.jpg" />
                                <dl>
                                    <dt>磁共振成像诊断仪</dt>
                                    <dd>德国制造高级智能轮椅，品质有保证，进口货很牛的！</dd>
                                    <span>2018-03-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic01.jpg" />
                                <dl>
                                    <dt>互联网医院的浪潮</dt>
                                    <dd>德国制造高级智能轮椅，品质有保证，进口货很牛的！</dd>
                                    <span>2018-03-20</span>
                                </dl>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {

            }
        },
        methods: {

        },
        created: function () {
        }
    })


</script>

<script type="text/javascript">
    jQuery(".picMarquee-top").slide({ mainCell: ".bd ul", autoPlay: true, effect: "topMarquee", vis: 8, interTime: 50 });
</script>