@{
    ViewBag.Title = "新闻资讯";
}

<!-- banner -->
<div class="zy_banner">
    <img src="../Content/images/web/zy_banner04.jpg">
    <div class="zy_title">
        <div>
            <h1>新闻资讯</h1>
            <span>NEWS CENTER</span>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- 主体 -->
<div class="zy_content" id="partPage">
    <div class="wid_main">
        <div class="zy_navbox">
            <div class="weizhi">
                <div>
                    <p>
                        <img src="../Content/images/web/PIN2.png">当前位置：<a href="index">首页</a> ><span>新闻资讯</span>
                    </p>
                </div>
                <i></i>
            </div>
            <ul>
                <li :class="{cur:urlParam.index == 1}" id="index1">
                    <h2 v-on:click="changeIndex('1')"><a>图片新闻</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 2}" id="index2">
                    <h2 v-on:click="changeIndex('2')"><a>研究院新闻</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 3}" id="index3">
                    <h2 v-on:click="changeIndex('3')"><a>行业资讯</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 4}" id="index4">
                    <h2 v-on:click="changeIndex('4')"><a>技术百科</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 5}" id="index5">
                    <h2 v-on:click="changeIndex('5')"><a>通知公告</a><i></i></h2>
                </li>
            </ul>

        </div>
        <div class="zy_conbox zy_news">
            <template>
                <ul>
                    <li>
                        <img src="../Content/images/pic03.jpg">
                        <dl>
                            <dt><a href="news">英特尔发精准医疗解决方案，推进24小时精准医疗</a></dt>
                            <dd>英特尔在上海发布其在中国精准医疗领域的解决方案建议书，内容涉及创新解决方案、合作案例、参考架构推荐等，并提出“24小时精准医疗”愿景英特尔在上海发布其在中国精准医疗领域的解决方案建议书...</dd>
                        </dl>
                        <span>
                            <i>2018-03</i>
                            <b>04</b>
                        </span>
                    </li>
                    <li>
                        <img src="../Content/images/pic02.jpg">
                        <dl>
                            <dt><a href="news">互联网医院热潮</a></dt>
                            <dd>英特尔在上海发布其在中国精准医疗领域的解决方案建议书，内容涉及创新解决方案、合作案例、参考架构推荐等，并提出“24小时精准医疗”愿景</dd>
                        </dl>
                        <span>
                            <i>2018-03</i>
                            <b>04</b>
                        </span>
                    </li>
                    <li>
                        <img src="../Content/images/pic01.jpg">
                        <dl>
                            <dt><a href="news">梅奥诊所发明新式培养法，可使T细胞识别多种癌细胞</a></dt>
                            <dd>英特尔在上海发布其在中国精准医疗领域的解决方案建议书，内容涉及创新解决方案、合作案例、参考架构推荐等，并提出“24小时精准医疗”愿景</dd>
                        </dl>
                        <span>
                            <i>2018-02</i>
                            <b>24</b>
                        </span>
                    </li>
                </ul>
                <!--底部翻頁-->
                <div style="text-align:right">
                    <el-pagination v-on:size-change="handleSizeChange"
                                   v-on:current-change="handleCurrentChange"
                                   :current-page="currentPage"
                                   :page-sizes="[1, 3, 5, 10]"
                                   :page-size="5"
                                   layout="total, sizes, prev, pager, next, jumper"
                                   :total="totalRows">
                    </el-pagination>
                </div>
            </template>
            
        </div>

    </div>
</div>


<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                currentPage: 1,
                totalRows: 0,
                pageSize: 6,
                data: [],
                tableData:[]
            }
        },
        methods: {
            changeIndex(index) {
                this.urlParam.index = index
                for (var i = 1; i <= this.indexLength; i++) {
                    $("#index" + i).removeClass("cur")
                }
                $("#index" + index).addClass("cur")
            }
        },
        created: function () {
            this.indexLength = 5
        }
    })


</script>

<script type="text/javascript">


</script>